# Chipotle data
#### Challenge by Zach Hall

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.
###  Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

###  Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

###  Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url,sep='\t')

###  See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###  What is the number of observations in the dataset?

In [4]:
# Solution 2

chipo.shape[0]

4622

###  What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

5

###  Print the name of all the columns.

In [6]:
chipo.columns.values

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

### How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Which was the most-ordered item?

In [8]:
most_ordered = chipo.groupby('item_name')
most_ordered = most_ordered.sum()
most_ordered.sort_values(by=['quantity'],ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

###  For the most-ordered item, how many items were ordered?

In [9]:
most_ordered = chipo.groupby('item_name')
most_ordered = most_ordered.sum()
most_ordered.sort_values(by=['quantity'],ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

###  What was the most ordered item in the choice_description column?

In [10]:
most_ordered_choice = chipo.groupby('choice_description')
most_ordered_choice = most_ordered_choice.sum()
most_ordered_choice.sort_values(by=['quantity'], ascending = False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

###  How many items were orderd in total?

In [11]:
total_orders = chipo['quantity'].sum()
total_orders

4972

###  Turn the item price into a float

####  Check the item price type

In [12]:
chipo['item_price'].dtype

dtype('O')

####  Create a lambda function and change the type of item price

In [13]:
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

####  Check the item price type

In [14]:
chipo['item_price'].dtype

dtype('float64')

###  How much was the revenue for the period in the dataset?

In [15]:
chipo['total'] = chipo['item_price'] * chipo['quantity']
revenue = chipo['total'].sum()
print("Revenue = $" , revenue)

Revenue = $ 39237.02

###  How many orders were made in the period?

In [16]:
total_orders = len(pd.unique(chipo['order_id']))
print("Total Orders: ", total_orders)

Total Orders:  1834

###  What is the average revenue amount per order?

In [17]:
avg_per_order = revenue / total_orders
print('Average revenue amount per order $', avg_per_order)

Average revenue amount per order $ 21.39423118865867

### How many different items are sold?

In [18]:
unique_items = len(pd.unique(chipo['item_name']))
print(unique_items)

50

###  How many products cost more than $10.00?

In [19]:
no_dupes_chipo = chipo.drop_duplicates(subset=['item_name'])
more_than_ten = no_dupes_chipo['item_price'] > 10
print(more_than_ten.sum())

13

###  What is the price of each item?

In [20]:
no_dupes_chipo[['item_name','item_price']].sort_values(by='item_price',ascending=True)

                                  item_name  item_price
34                            Bottled Water        1.09
263                       Canned Soft Drink        1.25
6                             Side of Chips        1.69
40                                    Chips        2.15
18                              Canned Soda        2.18
0              Chips and Fresh Tomato Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
674       Chips and Mild Fresh Tomato Salsa        3.00
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
10                      Chips and Guacamole        4.45
298                       6 Pack Soft Drink        6.49
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
16                          Chicken Burrito        8.49
12                       Chicken Soft Tacos        8.75
11                     Chicken Crispy Tacos        8.75
44                       Chicken Salad Bowl        8.75
664                             Steak Salad        8.99
3750                         Carnitas Salad        8.99
33                            Carnitas Bowl        8.99
54                               Steak Bowl        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
92                       Steak Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
250                           Chicken Salad       10.98
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
39                            Barbacoa Bowl       11.75
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
4                              Chicken Bowl       16.98
445                                    Bowl       22.20
281                        Steak Salad Bowl       23.78

###  Sort by the name of the item

In [21]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,total
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

###  How many times was a Veggie Salad Bowl ordered?

In [22]:
vsb_total = chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl'].sum()
print(vsb_total['quantity'].sum())

18

###  How many times did someone order more than one Canned Soda?

In [23]:
cans = chipo.loc[chipo['item_name'] == 'Canned Soda']
multiple_cans = cans['quantity'] >1
print(multiple_cans.sum())

20